<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourdjyao.main.mapper.UserInfoMapper">

    <resultMap id="UserInfo" type="com.gourdjyao.main.entry.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="telphone" jdbcType="VARCHAR" property="telphone"/>
        <result column="createdatetime" jdbcType="BIGINT" property="createdatetime"/>
    </resultMap>


    <sql id="SELECT_SQL">
        id,
        username,
        password,
        nickname,
        address,
        telphone,
        createdatetime
    </sql>

    <!-- 根据 pid 查询 t_user_info 表中的数据
         id:唯一标识符，此文件中的id值不能重复
         resultType:返回值类型，一条数据库记录也就对应实体类的一个对象
         parameterType:参数类型，也就是查询条件的类型
     -->
    <select id="selectUserById"
            resultMap="UserInfo" parameterType="int">
        <!-- 这里和普通的sql 查询语句差不多，对于只有一个查询条件后面的 #{id}表示占位符，里面不一定要写pid,写啥都可以，但是不要空着；如果有多个查询条件，则要写pojo类里面的属性 -->
        select
        <include refid="SELECT_SQL"/>
        from t_user_info where id = #{id}
    </select>

    <!-- 查询t_user_info 表所有数据 -->
    <select id="selectAllUser" resultMap="UserInfo">
        select
        <include refid="SELECT_SQL"/>
        from t_user_info
    </select>

    <!-- 根据id更新数据 -->
    <update id="updateUser" parameterType="com.gourdjyao.main.entry.UserInfo">
        update
        t_user_info
        set
        username=#{username},
        password=#{password},
        nickname=#{nickname},
        address=#{address},
        telphone=#{telphone},
        createdatetime=#{createdatetime}
        where id = #{id}
    </update>

    <!-- 向 t_user_info 表插入一条数据 -->
    <insert id="insertUser" parameterType="com.gourdjyao.main.entry.UserInfo">
        insert into t_user_info
        (
        <include refid="SELECT_SQL"/>
        )
        values
        (
        #{username},#{password},#{nickname},#{address},#{telphone},#{createdatetime}
        )
    </insert>

    <!-- 根据 pid 删除数据 -->
    <delete id="deleteUser" parameterType="int">
        delete from t_user_info where id=#{id}
    </delete>

</mapper>